extends baseEmail

block content
  p Hello #{ngoName},
  p A new project has been created by #{donorName}, and you have been selected to execute it.
  p
    strong Project Details:
  ul(style="text-align: left; margin: 10px 0; padding-left: 20px;")
    li Title: #{projectTitle}
    li Description: #{projectDescription}
    li Funding Amount: #{fundingAmount} #{currency}
  p Please review the project details and accept or decline the project from your dashboard.
  p If you have any questions, feel free to contact us.
